/* Adjustments for mobile devices */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    section {
        margin-left: 1em !important;
    }

    h1 {
        font-size: 24px;
        margin-bottom: auto;
    }

    nav {
        display: none;
        margin-top: 10px;
    }

    .nav-title {
        margin-right: 1em !important;
        margin-bottom: auto !important;
    }

    .navbar-toggler {
        display: block;
        margin-left: 1em !important;
    }

    .collapsing, .collapse.show {
        margin-top: 1em;
    }

    .collapse.show ul li {
        display: flex;
        justify-content: start;
    }

    .collapsing ul li {
        display: flex;
        justify-content: start;
    }

    nav ul {
        padding: 0;
    }
    
    .hero h2 {
        font-size: 24px;
    }

    .hero p {
        font-size: 16px;
    }

    .project-image {
        width: 15em; /* Adjust image width as needed */
    }

    .container-lg {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .hero {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .container-lg h2, div {
        margin-left: .5em !important;
    }

    .container-lg p {
        margin-left: 1em !important;
    }

    .project div {
        flex-direction: column-reverse;
    }

    .project div h3 {
        margin-top: 1em;
    }

    .details {
        overflow: scroll !important;
    }
}

@media only screen and (min-width: 768px) {

    header h1 {
        font-size: 48px;
    }

    .project-image {
        width: 25em; /* Adjust image width as needed */
    }
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ffffff;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease;
    background: rgba(255, 255, 255, 1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-weight: 700;
    color: #333;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff7f50;
}

.hero {
    background-color: #f5f5f5;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    margin-top: 2em !important;
}

.hero p {
    padding-top: 1em;
    font-size: 18px;
    font-weight: 400;
}

section {
    padding: 60px 0;
}

section h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

#resume-section {
    margin-top: 20px;
}

#resume-preview {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    cursor: default;
}


.project {
    position: relative;
    background-color: #ffdddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.details {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.project:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project .details.active {
    max-height: 400px; /* Set to the maximum height you want to allow for details */
}

.details-btn {
    position: absolute;
    bottom: 0px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform .7s ease;
}

.details-btn.active {
    transform: rotate(180deg);
}

.project-link {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.project-link:hover .new-tab-icon {
    opacity: .8;
}

.project-link:hover .project-image {
    opacity: 0.8;
    transform: scale(1.05);
}

.new-tab-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #007bff;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.external-link {
    width: 2em;
}

.project-image {
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    transition: all .5s ease;
}

#skills {
    padding: 40px 0;
}

.skill-category {
    margin-bottom: 30px;
}

.skill-category h3 {
    margin-bottom: 10px;
}

.skill {
    display: inline-block;
    margin-right: 20px;
}

.skill-icon {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #d1d422; /* Default background color */
    cursor: default;
}

.skill-icon:hover {
    background-color: #c2c512; /* Hover background color */
}

#contact {
    padding: 40px 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.contact-item span {
    font-size: 18px;
}

.contact-item a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: #007bff;
}

.scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

#scrollToTopBtn {
    bottom: 80px !important;
}

.scroll-btn:hover {
    opacity: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
